<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>pokonyan-web</contextName>
    <!-- 日志根目录-->
    <!--<springProperty scope="context" name="LOG_ROOT_HOME" source="logging.path" defaultValue="D:\Workspace\Justmemoryl\Pokonyan\logs"/>-->
    <springProperty scope="context" name="LOG_ROOT_HOME" source="logging.path" defaultValue="/home/jml/logs"/>

    <!-- 日志级别 -->
    <springProperty scope="context" name="LOG_ROOT_LEVEL" source="logging.level.root" defaultValue="INFO"/>

    <!-- 日志文件编码-->
    <property name="LOG_CHARSET" value="UTF-8"/>

    <!-- 配置日志的滚动时间 ，表示只保留最近 15 天的日志-->
    <property name="MAX_HISTORY" value="15"/>

    <property name="LOG_PATH" value="${LOG_ROOT_HOME}"/>
    <!--输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>--| %d{yyyy-MM-dd HH:mm:ss.SSS} | %contextName | [%thread] | %-5level | %logger{36} --> %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--输出所有日志到文件-->
    <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/user-service-business.log</fileNamePattern>
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>--| %d{yyyy-MM-dd HH:mm:ss.SSS} | %contextName | [%thread] | %-5level | %logger{36} --> %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 输入所有ERROR日志到文件 -->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/user-service-error.log</FileNamePattern>
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>--| %d{yyyy-MM-dd HH:mm:ss.SSS} | %contextName | [%thread] | %-5level | %logger{36} --> %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_ALL"/>
        <appender-ref ref="FILE_ERROR"/>
    </root>

    <logger name="com.dudu.controller.LearnController" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>